@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #505763;
}

::selection {
	background-color: #6d737d;
	color: #a6aab0;
}

.gray__gradient {
	background: hsla(0, 0%, 71%, 1);

	background: linear-gradient(
		45deg,
		hsla(0, 0%, 71%, 1) 0%,
		hsla(216, 5%, 81%, 1) 100%
	);

	background: -moz-linear-gradient(
		45deg,
		hsla(0, 0%, 71%, 1) 0%,
		hsla(216, 5%, 81%, 1) 100%
	);

	background: -webkit-linear-gradient(
		45deg,
		hsla(0, 0%, 71%, 1) 0%,
		hsla(216, 5%, 81%, 1) 100%
	);

	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#B5B5B5", endColorstr="#CCCED1", GradientType=1 );

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}
