@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #111827;
}

::selection {
	background-color: #0369a1;
	color: #082f49;
}

.blue__gradient {
	background: hsla(201, 68%, 70%, 1);

	background: linear-gradient(
		90deg,
		hsla(201, 68%, 70%, 1) 0%,
		hsla(202, 54%, 50%, 1) 94%
	);

	background: -moz-linear-gradient(
		90deg,
		hsla(201, 68%, 70%, 1) 0%,
		hsla(202, 54%, 50%, 1) 94%
	);

	background: -webkit-linear-gradient(
		90deg,
		hsla(201, 68%, 70%, 1) 0%,
		hsla(202, 54%, 50%, 1) 94%
	);

	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#7DC1E6", endColorstr="#3C92C4", GradientType=1 );

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}
